<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Buscar embarcacion</title>
    </head>

    <body>
    <h1>Buscar embarcacion por tipo</h1>

        <form method="POST" th:action="@{/api/embarcaciones/consultarEmbarcacionesPorTipo}">

            <div>
                <label for="tipo">Tipo:</label><br>

                <select id="tipo" th:name="tipo" required>

                    <option value="">-- Selecciona un tipo --</option>

                    <option value="VELERO">Velero</option>
                    <option value="YATE">Yate</option>
                    <option value="LANCHA">Lancha</option>
                    <option value="BARCA_PESCA">Barca de Pesca</option>
                    <option value="CATAMARAN">Catamarán</option>

                </select><br>
            </div>

            <br>
            <div>
                <input type="submit" value="Consultar">
            </div>

        </form>
    </body>
</html>