<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Resultados de la Búsqueda</title>
    </head>
    <body>

        <h1>Resultados para: <span th:text="${tipo}">Tipo</span></h1>

        <hr>

        <div th:if="${listaEmbarcaciones.isEmpty()}">
            <p>No se encontraron embarcaciones de este tipo.</p>
        </div>

        <ul th:if="${!listaEmbarcaciones.isEmpty()}">
            <li th:each="embarcacion : ${listaEmbarcaciones}">
                <span th:text="${embarcacion.nombre}">Nombre Barco</span>
                (<span th:text="${embarcacion.matricula}">Matrícula</span>) -
                Plazas: <span th:text="${embarcacion.plazas}"></span> -
                Patron: <span th:if="${embarcacion.idPatron != null}" th:text="Si"></span>
                <span th:unless="${embarcacion.idPatron != null}" th:text="No"></span>
            </li>
        </ul>

        <br>

        <a th:href="@{/api/embarcaciones/consultarEmbarcacionesPorTipo}">Volver a buscar</a>

    </body>
</html>